
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

        /*
    header {
        position: fixed;
        top: 0;
        z-index: 10;
        width: 100%;
        background-color: #0056b3;
        color: white;
        text-align: center;
        padding: 20px 0;
    }
    
    header h1 {
        font-size: 2.5em;
        margin-bottom: 10px;
    }
    */

main {
    padding: 20px;
    margin: 40px 0 300px 0;
}

.productos {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 3%;
}

.producto {
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 20px;
    height: 400px;
    text-align: center;
    transition: transform 0.3s ease;
    display: grid;
    grid-template-rows: 150px repeat(2, 0.5fr);
}

.producto h2{
    font-size: small;
    justify-self: center;
    align-self: end;
    margin-top: 60px;
}

.producto p {
    font-size: medium;
    font-weight: 600;
    color: rgb(18, 156, 0);
    justify-self: center;
    align-self: flex-end;
}

.producto button {
    display: block;
    width: 90%;
    padding: 10px;
    height: 40px;
    align-self: end;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-self: center;
    transition: background 0.3s ease;
}

.producto button:hover {
    background: #4797ff;
}

.producto img {
    height: auto;
    width: max-content; 
    max-width: 200px;
    max-height: 120%; 
    object-fit: cover; 
    justify-self: center;
    align-self: center;
    margin: calc(40px) 0 calc(10px) 0;

    filter: brightness(1.1);
    mix-blend-mode: multiply;
    overflow-y: hidden;
}

.producto:hover {
    transform: translateY(-5px);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.username {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.username:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1100px){
    .productos{
        grid-template-columns: repeat(3, minmax(150px, 1fr));
        gap: 2%;
    }
}