
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(230, 230, 230);
    font-family: Arial, sans-serif;
    color: #111111;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #0056b3;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

main {
    padding: 20px;
    margin: 160px 0 300px 0;
}

.productos {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 3%;
}

.producto {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    height: 400px;
    text-align: center;
    transition: transform 0.3s ease;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.producto h2{
    font-size: small;
    justify-self: center;
}

.producto button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.producto button:hover {
    background: #4797ff;
}

.producto img {
    height: auto;
    width: 120px; 
    max-height: 120%; 
    object-fit: cover; 
    justify-self: center;
    align-self: center;
    margin: calc(40px) 0 calc(10px) 0;
}

.producto:hover {
    transform: translateY(-5px);
}

footer {
    background-color: #0056b3;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.username {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.username:hover {
    text-decoration: underline;
}
