
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}


.productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1%;
    column-gap: 3%;
    width: 100%;
}

.producto {
    background-color: #f3f3f3;
    border-radius: 5px;
    padding: 20px;
    height: 400px;
    text-align: center;
    transition: transform 0.3s ease;
    display: grid;
    grid-template-rows: 150px repeat(2, 0.5fr);
    overflow: hidden;
}

.producto h2{
    font-size: small;
    justify-self: center;
    align-self: end;
    margin-top: 60px;
}

.producto p {
    font-size: medium;
    font-weight: 600;
    color: rgb(76, 255, 52);
    justify-self: center;
    align-self: flex-end;
}

.producto button {
    display: block;
    width: 90%;
    padding: 10px;
    height: 40px;
    align-self: end;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-self: center;
    transition: background 0.3s ease;
}

.producto button:hover {
    background: #4797ff;
}

.producto img {
    height: 100px;
    width: fit-content; 
    max-width: 200px;
    max-height: 120%; 
    object-fit: cover; 
    justify-self: center;
    align-self: center;
    margin: calc(40px) 0 calc(10px) 0;

}

.producto:hover {
    transform: translateY(-5px);
}


@media screen and (max-width: 1100px){
    .productos{
        grid-template-columns: repeat(3, minmax(150px, 1fr));
    }
}
@media screen and (max-width: 700px) {
    .productos {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
}

.producto button:hover {
    background-color: rgb(110, 255, 91);
    color: #333;
}